body{
 background-color: #F7EDDB;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: blue;
  border-width: 5px;
  width: 50px;
}

h1 {
  style: Bold;
  color: #66BFBF;
}
h3{
    color: #66BFBF;
}
p{
  color: black;
}
